fastapi
uvicorn

template
jinja2
aiofiles

sqlalchemy

# variables env
python-dotenv

# email validation
pydantic[email]

# hashing
passlib[bcrypt]

# testing
pytest
requests

# pre-commit
pre-commit

# jwt tokens
python-jose

# accessing form data
python-multipart
